/*
|--------------------------------------------------------------------------
| Main scss variables
|--------------------------------------------------------------------------
|
| When importing main, the underscore is left out to prevents the SCSS
| compiler from generating a CSS file from it, so that's why this was named
| '_main'.
|
| Mentions:
|   - Here will be added all the variables used throughout the project and
|   any sass functions.
|
*/
/* Articles */
.article {
  /* Everything related to the article element itself(mini or not) */
  width: 100%;
  background-color: #292e33;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 2px solid #303840;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
  /* Write page */
  /* Read page */
}

.article__info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.article__info .profile-image {
  margin-right: 0.5rem;
}

.article__info > div:last-child {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.article__info > div:last-child span {
  margin-top: 0.3rem;
  align-self: center;
}

.article__container {
  padding: 1rem;
}

.article__cover {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 2px solid #303840;
}

.article__cover--mini {
  height: 250px;
}

.article__cover--no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.article__title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.article__title--mini {
  font-size: 1.5rem;
}

.article__misc {
  display: flex;
  align-items: center;
}

.article__misc button {
  margin-left: auto;
}

.article__tags {
  margin-bottom: 1rem;
}

.article__label--tag {
  color: #fff;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.article__input {
  width: 100%;
  background-color: unset;
  border: none;
  margin: 2rem 0;
  line-height: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #B2B6BB;
}

.article__input::placeholder {
  font-size: 2rem;
  color: #B2B6BB;
}

.article__input--title {
  color: #fff;
  font-size: 2rem;
}

.article__input--content {
  font-size: 1rem;
}

.article__input--tags {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.article__input--tags:first-of-type {
  margin-top: 2rem;
}

.article__input--tag {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.article-write__edit {
  background-color: #292e33;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.article-write__preview {
  background-color: #292e33;
  border-radius: 0.25rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
  border: 2px solid #303840;
}

.article-write__preview > div:nth-child(2) {
  padding: 2rem;
}

.article-write__actions {
  text-align: right;
  margin-bottom: 1rem;
}

.article-write__cover {
  display: flex;
  align-items: center;
}

.article-write__cover input {
  display: none;
}

.article-write__cover--mini-preview {
  width: 200px;
  height: 150px;
  margin-right: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article-write__cover__buttons {
  text-align: center;
}

.article-write__cover__buttons button {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.article-write__cover__buttons #articleRemoveCoverButton {
  color: #F25757;
  background-color: #444F5B;
  box-shadow: unset;
}

.article-write__login {
  background-color: #292e33;
  border-radius: 0.25rem;
  padding: 2rem;
}

.article-write__login__message {
  text-align: center;
  margin-bottom: 3rem;
}

.article-write__login__message img {
  margin-bottom: 3rem;
  width: 50%;
}

.article-write__login__message div h1 {
  margin-bottom: 1rem;
}

.article-write__login__form {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.article-read {
  display: flex;
  justify-content: space-between;
}

.article-read .article {
  width: 65%;
}

.article-read__actions div {
  display: flex;
  flex-direction: column;
}

.article-read__actions div span {
  margin-top: 0.3rem;
  align-self: center;
}

.article-read aside {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.article-read__user {
  width: 25%;
}

.article-read__user .profile-image {
  margin-bottom: 1rem;
}

.article-read__user .profile-image a {
  display: flex;
  align-items: center;
}

.article-read__user .profile-image a img {
  margin-right: 0.5rem;
}

.article-read__user > div {
  background-color: #292e33;
  border-radius: 0.25rem;
  border: 2px solid #303840;
}

.article-read__user > div:nth-child(1) {
  padding: 1rem;
  margin-bottom: 1rem;
}

.article-read__user > div:nth-child(1) p:nth-child(3) {
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
}

.article-read__user > div:nth-child(2) h3 {
  padding: 1rem;
  border-bottom: 2px solid #303840;
}

.article-read__user > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 2px solid #303840;
}

.article-read__user > div:nth-child(2) > div:last-child {
  border-bottom: unset;
}
