/*
|--------------------------------------------------------------------------
| Main scss variables
|--------------------------------------------------------------------------
|
| When importing main, the underscore is left out to prevents the SCSS
| compiler from generating a CSS file from it, so that's why this was named
| '_main'.
|
| Mentions:
|   - Here will be added all the variables used throughout the project and
|   any sass functions.
|
*/
/*
|--------------------------------------------------------------------------
| Font faces
|--------------------------------------------------------------------------
|
| The main font face will be 'Nunito', used pretty much everywhere.
| 'Roboto' should be used for smaller fonts, seems to look better on them.
| An example for that would be the 'muted' text.
|
*/
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

/*
|--------------------------------------------------------------------------
| Keyframes
|--------------------------------------------------------------------------
|
*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Heart animation */
@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/*
|--------------------------------------------------------------------------
| Global styles
|--------------------------------------------------------------------------
|
| Since the app is following the BEM
| methodology(https://en.bem.info/methodology/quick-start/#block), these
| convetions need to be followed:
|
| - WHEN TO USE BLOCKS:
|   These basically encapsulate a standalone entity that is meaningful on its own.
|   While blocks can be nested and interact with each other, semantically
|   they remain equal; there is no precedence or hierarchy.
|   Holistic entities without DOM representation
|   (such as controllers or models) can be blocks as well.
|
| - WHEN TO USE ELEMENTS:
|   These are parts of a block and have no standalone meaning.
|   Any element is semantically tied to its block.
|
| - WHEN TO USE MODIFIERS:
|   Flags on blocks or elements. Use them to change appearance, behavior or state.
|
*/
:root {
  font-family: 'Nunito', sans-serif;
}

body, html {
  box-sizing: border-box;
  height: 100vh;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1d2126;
  color: #B2B6BB;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none !important;
}

input {
  border-radius: 0.25rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #B2B6BB;
  -webkit-box-shadow: none !important;
  background-color: #1d2126 !important;
  transition: background-color 5000s ease-in-out 0s;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #1d2126;
}

body::-webkit-scrollbar-thumb {
  background: #528BFF;
  border-radius: 1rem;
}

main {
  padding: 2rem;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

h1, h2 {
  color: #fff;
}

h3, h4, h5 {
  color: #B2B6BB;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background: #528BFF;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: .2rem;
  box-shadow: inset 0 -0.2rem 0 rgba(0, 0, 0, 0.15);
}

.button:focus {
  background-color: #528BFF;
  color: #fff;
}

.button--secondary {
  background-color: #1abb9c;
}

.button--secondary:focus {
  background-color: #1abb9c;
}

.button--emoji {
  font-family: 'Segoe UI Emoji', 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0;
  background-color: unset;
  border: none;
}

.button--like {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: unset;
  border: 2px solid #303840;
  border-radius: 0.25rem;
  background-image: url("../images/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.button--like.liked {
  background-position: right;
}

.button--like.animate {
  animation: heart-burst 1s steps(28) 1;
}

.button--outline {
  color: #B2B6BB;
  background-color: unset;
  border: 3px solid #7B78FF;
  box-shadow: none;
  padding: 7px 17px;
}

.button--outline:hover {
  color: #fff;
  background-color: #7B78FF;
  border: none;
  padding: 10px 20px;
  box-shadow: inset 0 -0.2rem 0 rgba(0, 0, 0, 0.15);
}

.button--outline:focus {
  background-color: unset;
}

.button--outline--active {
  color: #fff;
  border-bottom: 3px solid #7B78FF;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}

.button--outline--active:hover {
  background-color: unset;
  border-bottom: 3px solid #7B78FF;
  padding: 7px 17px;
  box-shadow: none;
}

.button--outline--active:focus {
  background-color: unset;
}

.button--bookmark.bookmarked {
  background-color: #444F5B;
  box-shadow: unset;
}

.button--bookmark--mini {
  width: 50px;
  cursor: pointer;
  background-color: unset !important;
  border-radius: 0.25rem;
  border: none;
  padding: 0;
  margin-top: 1rem;
}

.button--bookmark--mini i {
  margin: 0 auto;
  font-size: 2rem;
}

.button--top {
  display: inline-flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-in-out;
  font-size: 1.5rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  padding: .25em;
}

.button--gradient {
  background: linear-gradient(to right, #528BFF, #1abb9c);
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

a {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: all 500ms;
}

a:hover {
  color: #FF8121;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 1rem;
  margin-bottom: 1rem;
}

.hide {
  display: none !important;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1;
}

.error {
  color: #DC3545;
}

.dropdown {
  position: relative;
}

.dropdown__content {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #292e33;
  border-radius: 0.25rem;
  right: 0;
  top: 3rem;
  padding: 1rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.dropdown__item {
  position: relative;
  white-space: nowrap;
  border-radius: 0.25rem;
}

.dropdown__item:hover {
  background-color: #444F5B;
}

.dropdown__item a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.dropdown ul {
  list-style: none;
  margin: 0;
}

.muted {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.icon {
  font-size: 1.5rem;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 3rem;
  height: 3rem;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: 0.5rem solid #528BFF;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #528BFF transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

/* Layout */
.container {
  max-width: 80%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: #292e33;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.navigation__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.navigation__menu > li:first-child {
  margin-right: 1rem;
}

.navigation__menu li + li ul li:last-child {
  text-align: center;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 3rem;
  height: auto;
  margin-right: 0.5rem;
}

.profile-image {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.profile-image img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.busy {
  pointer-events: none;
  opacity: 0.5;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
}

.notification {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #292e33;
  z-index: 999;
  top: 110%;
  left: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.notification--show {
  top: 85%;
  opacity: 1;
}

.notification__image {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/* Register */
.register {
  background-color: #292e33;
  padding: 2rem;
  border-radius: 0.25rem;
}

.register__message {
  text-align: center;
  margin-bottom: 3rem;
}

.register__message img {
  width: 50%;
}

.post__edit, .post__preview {
  background-color: #292e33;
  border-radius: 0.25rem;
  padding: 2rem;
}

a.tag {
  color: #a7adb2;
}

a.tag span {
  color: #687078;
}

a.tag:hover {
  color: #FF8121;
}

a.tag:hover span {
  color: #687078;
}

.counter {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #191E25;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  user-select: none;
}
